.input-wrapper {
	position: relative;
	width: fit-content;
}

.input {
	padding: 6px 12px;
	border: 1px solid #000;
	border-radius: 5px;
}

.input.clearable {
	padding-right: 30px;
}

.input-button {
	position: absolute;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
}

.input-button > svg {
	height: 15px;
}
