.toast {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #333;
	color: #fff;
	padding: 15px 20px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	z-index: 1000;

	opacity: 1;
	transform: translateY(10px);
	transition:
		opacity 0.3s ease,
		transform 0.3s ease;
}

.toast-enter {
	opacity: 0.95;
	transform: translateY(0);
}

.toast-exit {
	opacity: 0;
	transform: translateY(10px);
}

.toast.clearable {
	padding-right: 30px;
}

.toast.success {
	background-color: #4caf50;
}

.toast.error {
	background-color: #f44336;
}

.toast.info {
	background-color: #2196f3;
}

.toast-button {
	position: absolute;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
}

.toast-button > svg {
	stroke: #fff;
}
